.navbar-inverse .navbar-nav>.active>a{
    background-color: #1abc9c !important;
}

.navbar-inverse .navbar-nav>li>a{
    color:#fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #1abc9c;
}

.navbar-inverse .navbar-form .btn{
    background-color: #1abc9c;
    color: #fff;
}

body{
   font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #3d4450;
}
.rjj-body{
    padding: 100px 0;
}

.row .alert-dismissible{
    border: 1px solid #eaeaea;
    border-radius: 8px 8px;
}

.excerpt{
    border: 1px solid #eaeaea;
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
}

.excerpt .cat{
    color: #fff;
    background-color: #45bcf9;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
    margin-left: 10px;
    text-decoration: none;
}
.excerpt h2{
    display: inline;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.excerpt h2 a{
    color: #555;
    text-decoration: none;
}

.excerpt h2 a:hover{
                                                  /*点击变色*/
    color: #45bcf9;
}

.excerpt .meta{
    color: #838383;
}
.excerpt .meta span{
    margin: 5px 5px 0 0;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
    font-size: 13px;
}

.excerpt .meta .iconcolor{
    color: lightskyblue;
}
.excerpt .meta .heartcolor{
    color: palevioletred;
}


.excerpt .meta a{
    color: limegreen;
}

.excerpt .text{
    color: #838383;
    padding-left: 10px;
    text-indent: 2em;
}

.excerpt .label span{
    font-weight: 100;
    background-color: #cccccc;
}
.excerpt .label span:hover{
    background-color:#777777;
}

.excerpt .label a{
    color: #08d7a2;
    font-size:14px;
}

.row .article-list article{
    margin-top: 10px;
}
